button {
  height: auto;
  width: auto;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(15, 112, 240);
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 18px;
  white-space: nowrap;
  padding: 10px;
  margin-left: 5px
}

button:hover {
  background-color: rgb(12, 90, 200);
}

h3 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 18px;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px
}